<div class="navbar-lewagon my-3">
  <h1 class="m-0" >Cocktails</h1>
  <%= link_to 'Add a cocktail', new_cocktail_path, class: "btn btn-outline-success" %>
</div>

<div class="grid-cards">
  <% @cocktails.each do |cocktail| %>
    <%= link_to cocktail_path(cocktail) do %>
      <div class="card-cocktail">
        <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, class: "card-img-top" %>
          <% else %>
            <%= image_tag Cocktail::DEFAULT_IMAGE_URL , alt: cocktail.name, class: "card-img-top" %>
          <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= cocktail.name %></h5>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
