<div class="navbar-lewagon my-3">
  <h1 class="m-0">Add ingredient to <%= @cocktail.name %></h1>
  <%= link_to 'Back', cocktails_path, class: "btn btn-outline-success" %>
</div>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit, class: "btn btn-outline-success" %>
<% end %>
