<h1>Add new ingredient to <%= @cocktail.name %> </h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.button :submit, class: "btn btn-outline-success" %>
<% end %>
